.toolbar {
                        position: absolute;
                        color:white;
                        left: 0;
                        right: 0;
                        height: 32px;
                        z-index: 9999;
                        cursor: default;
                        background-image: url(images/texture.png),
                        -webkit-linear-gradient(hsla(0,0%,32%,.99), hsla(0,0%,27%,.95));
                        background-image: url(images/texture.png),
                        -moz-linear-gradient(hsla(0,0%,32%,.99), hsla(0,0%,27%,.95));
                        background-image: url(images/texture.png),
                        -ms-linear-gradient(hsla(0,0%,32%,.99), hsla(0,0%,27%,.95));
                        background-image: url(images/texture.png),
                        -o-linear-gradient(hsla(0,0%,32%,.99), hsla(0,0%,27%,.95));
                        background-image: url(images/texture.png),
                        linear-gradient(hsla(0,0%,32%,.99), hsla(0,0%,27%,.95));
                        border-left: 1px solid hsla(0,0%,0%,.5);
                        box-shadow: inset 1px 0 0 hsla(0,0%,100%,.08),
                        inset 0 1px 1px hsla(0,0%,0%,.15),
                        inset 0 -1px 0 hsla(0,0%,100%,.05),
                        0 1px 0 hsla(0,0%,0%,.15),
                        0 1px 1px hsla(0,0%,0%,.1);
                    }
                    #toolbarRight {
                        position: absolute;
                        top: 0;
                        right: 0;
                    }
                    #toolbarLeft {
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                    #login{
                        width:50px;
                    }
                    #toolbarCenter {
                        position: absolute;
                        top: 0;
                        left: 50%;
                    }
                    body {
                        height: 100%;
                        background-color: #404040;
                        background-image: url(images/texture.png);
                    }
                    #viewerContainer {
                        overflow: auto;
                        box-shadow: inset 1px 0 0 hsla(0,0%,100%,.05);
                        padding-top: 30px;
                        position: absolute;
                        top: 32px;
                        right: 0;
                        bottom: 0;
                        left: 0;
                    }
                    #email{width:80%;
                        float:right;}
                    #password{width:80%;
                        float:right;}
                    #confirmLogin{
                        float:right;
                        width:100px;
                    }
                    #loginWrapper {
                        background-color: white;
                        border: 1px solid #6B7B95;
                        color: #000;
                        float: left;
                        height: 33%;
                        padding: 10px;
                        width: 33%;
                        position:absolute;
                        left:30%;
                        top:20%;
                        z-index:100;
                    }
                    #uploadurlWrapper {
                        background-color: white;
                        border: 1px solid #6B7B95;
                        color: #000;
                        float: left;
                        height: 30%;
                        padding: 10px;
                        width: 30%;
                        position:absolute;
                        left:30%;
                        top:20%;
                        z-index:2;
                    }
                    legend
                    {
                        font-size:80%;
                    }

                    #savefileWrapper {
                        background-color: white;
                        border: 1px solid #6B7B95;
                        color: #000;
                        float: left;
                        height: 70%;
                        padding: 10px;
                        width: 30%;
                        position:absolute;
                        left:30%;
                        top:20%;
                        z-index:2;
                    }
                    #uploadfileWrapper {
                        background-color: white;
                        border: 1px solid #6B7B95;
                        color: #000;
                        float: left;
                        height: 30%;
                        padding: 10px;
                        width: 30%;
                        position:absolute;
                        left:30%;
                        top:20%;
                        z-index:2;
                    }
                    #errorWrapper {
                        background-color: white;
                        border: 1px solid #6B7B95;
                        color: #000;
                        float: left;
                        height: 30%;
                        padding: 10px;
                        width: 30%;
                        position:absolute;
                        left:30%;
                        top:20%;
                        z-index:200;
                    }
                    #shareWrapper {
                        background-color: white;
                        border: 1px solid #6B7B95;
                        color: #000;
                        float: left;
                        height: 30%;
                        padding: 10px;
                        width: 30%;
                        position:absolute;
                        left:30%;
                        top:20%;
                        z-index:200;
                    }
                     #editWrapper {
                        background-color: white;
                        border: 1px solid #6B7B95;
                        color: #000;
                        float: left;
                        height: 30%;
                        padding: 10px;
                        width: 30%;
                        position:absolute;
                        left:30%;
                        top:20%;
                        z-index:3;
                    }
                     #inforWrapper {
                        background-color: transparent;
                        color: #000;
                        float: left;
                        height: 70%;
                        padding: 10px;
                        width: 70%;
                        position:absolute;
                        left:10%;
                        top:10%;
                        z-index:2;
                    }
                    #pencil{
                         background-image:url("images/pencil.svg");
                    }
                    #rect{
                        background-image:url("images/rect.svg");
                    }
                    #color{
                        background-image:url("images/color.svg");
                    }
                    .toolButton{
                        width:20px;
                        height:20px;
                        background-color:transparent;
                        background-repeat: no-repeat;
                        border:none;
                    }
                    .closeButton{
                        float:right;
                        width:15px;
                        height:15px;
                        background-color:#F9F9F9;
                        border:none;
                        background-image:url("images/close_button.png");
                    }
                    .loginAction{font-size:80%;}
                    #facebook{
                        background-image:url("images/facebook_login.png");
                        width:65px;
                        float:right;
                        height:25px;
                    }
                    .colorButton{
                     width:'20px';
                    }
                    #commentController
                    {
                       background-color:white;
                    }
                    #bookdetail {
                        border: 1px solid #6B7B95;
                        background-color:white;
                        z-index:10;
                        position:absolute;
                    }
                    .bookmeta{
                        position:absolute;
                        width:30%;
                    }
                    .selected{
                        background-color: #F9F9F9;
                    }
                     .comment{
                        float:center;
                        color:blue;
                    }
                    #footer{
                        position: fixed;
                        width:70%;
                        right:20%;
                        height:30px;
                        bottom: 30px;
                        left:0;
                        z-index:100;
                    }
                    #socialController{
                        position:absolute;
                        top:30%;
                        height:70%;
                        z-index:50;
                        background-color:white;
                        overflow:scroll;
                    }
                    #search{
                        z-index:52;
                    }
                     #annotController{
                        position:absolute;
                        top:32px;
                        width:133px;
                        z-index:51;
                        background-color:white;
                    }
                    #pageAnnots{
                        width:100px;
                    }
                    #social{
                        position:absolute;
                        left:135px;
                        z-index:51;
                        width:5px;
                        background-color:grey;
                        height:70%;
                        top:30%;
                    }
                     #annotTrigger{
                        z-index:51;
                        height:5px;
                        background-color:grey;
                        width:100%;
                        float:buttom;
                    }
                    #allAnnots{
                        width:133px;
                    }
                    #toolController{
                        position:absolute;
                        width:47%;
                        left:33%;
                    }
                    #mine {
                        margin: 0 50px 0 0;
                        width:100%;
                        padding: 0;
                        float: left;
                    }
                    #books li{
                    display:block;
                    }
                    #bookmeta li{
                    display:block;
                    }
                    #bookdetail li {
                        display: block;
                        font-size:80%;
                    }
                    #pageAnnots li{
                     display: block;
  margin: 0;
  padding: 4px;
  width: 120px;
  background-color: #333;
  color: #888;
                    }
                    #allAnnots li{
                     display: block;
  margin: 0;
  padding: 4px;
  width: 120px;
  background-color: #333;
  color: #888;
                    }
                     #commentList li{
                     display: block;
  margin: 0;
  padding: 4px;
  width: 120px;
  background-color: #333;
  color: #888;
                    }
                    #commentController{
                        position:absolute;
                        width:20%;
                        right:20px;
                        z-index:50;
                        bottom:0;
                        background-color:white;
                    }
                    #arrow{
                        float:right;
                    }
                    .annotLayer {
                        position: absolute;
                        left: 0;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        color: #000;
                        z-index:1;
                    }
