.toolbar {
                        position: absolute;
                        color:white;
                        left: 0;
                        right: 0;
                        height: 32px;
                        z-index: 9999;
                        cursor: default;
                        background-image: url(images/texture.png),
                        -webkit-linear-gradient(hsla(0,0%,32%,.99), hsla(0,0%,27%,.95));
                        background-image: url(images/texture.png),
                        -moz-linear-gradient(hsla(0,0%,32%,.99), hsla(0,0%,27%,.95));
                        background-image: url(images/texture.png),
                        -ms-linear-gradient(hsla(0,0%,32%,.99), hsla(0,0%,27%,.95));
                        background-image: url(images/texture.png),
                        -o-linear-gradient(hsla(0,0%,32%,.99), hsla(0,0%,27%,.95));
                        background-image: url(images/texture.png),
                        linear-gradient(hsla(0,0%,32%,.99), hsla(0,0%,27%,.95));
                        border-left: 1px solid hsla(0,0%,0%,.5);
                        box-shadow: inset 1px 0 0 hsla(0,0%,100%,.08),
                        inset 0 1px 1px hsla(0,0%,0%,.15),
                        inset 0 -1px 0 hsla(0,0%,100%,.05),
                        0 1px 0 hsla(0,0%,0%,.15),
                        0 1px 1px hsla(0,0%,0%,.1);
                    }
                    #toolbarRight {
                        position: absolute;
                        top: 0;
                        right: 0;
                    }
                    #toolbarLeft {
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                    #login{
                        width:50px;
                    }
                    #toolbarCenter {
                        position: absolute;
                        top: 0;
                        left: 50%;
                    }
                    body {
                        height: 100%;
                        background-color: #404040;
                        background-image: url(images/texture.png);
                    }
                    #viewerContainer {
                        overflow: auto;
                        box-shadow: inset 1px 0 0 hsla(0,0%,100%,.05);
                        padding-top: 30px;
                        position: absolute;
                        top: 32px;
                        right: 0;
                        bottom: 0;
                        left: 0;
                    }
                    #email{width:80%;
                        float:right;}
                    #password{width:80%;
                        float:right;}
                    #confirmLogin{
                        float:right;
                        width:100px;
                    }
                    #loginWrapper {
                        background-color: #F9F9F9;
                        border: 1px solid #6B7B95;
                        color: #000;
                        float: left;
                        height: 30%;
                        padding: 10px;
                        width: 30%;
                        position:absolute;
                        left:30%;
                        top:20%;
                        z-index:100;
                    }
                    #uploadurlWrapper {
                        background-color: #F9F9F9;
                        border: 1px solid #6B7B95;
                        color: #000;
                        float: left;
                        height: 30%;
                        padding: 10px;
                        width: 30%;
                        position:absolute;
                        left:30%;
                        top:20%;
                        z-index:2;
                    }
                    legend
                    {
                        font-size:80%;
                    }
                    #savefileWrapper {
                        background-color: #F9F9F9;
                        border: 1px solid #6B7B95;
                        color: #000;
                        float: left;
                        height: 30%;
                        padding: 10px;
                        width: 30%;
                        position:absolute;
                        left:30%;
                        top:20%;
                        z-index:2;
                    }
                    #uploadfileWrapper {
                        background-color: #F9F9F9;
                        border: 1px solid #6B7B95;
                        color: #000;
                        float: left;
                        height: 30%;
                        padding: 10px;
                        width: 30%;
                        position:absolute;
                        left:30%;
                        top:20%;
                        z-index:2;
                    }
                    #errorWrapper {
                        background-color: #F9F9F9;
                        border: 1px solid #6B7B95;
                        color: #000;
                        float: left;
                        height: 30%;
                        padding: 10px;
                        width: 30%;
                        position:absolute;
                        left:30%;
                        top:20%;
                        z-index:200;
                    }
                     #editWrapper {
                        background-color: #F9F9F9;
                        border: 1px solid #6B7B95;
                        color: #000;
                        float: left;
                        height: 30%;
                        padding: 10px;
                        width: 30%;
                        position:absolute;
                        left:30%;
                        top:20%;
                        z-index:3;
                    }
                     #inforWrapper {
                        background-color: #6B7B95;
                        border: 1px solid #6B7B95;
                        color: #000;
                        float: left;
                        height: 70%;
                        padding: 10px;
                        width: 70%;
                        position:absolute;
                        left:10%;
                        top:10%;
                        z-index:2;
                    }
                    #social{
                        float:right;
                    }
                    .closeButton{
                        float:right;
                        width:15px;
                        height:15px;
                        background-color:#F9F9F9;
                        border:none;
                        background-image:url("images/close_button.png");
                    }
                    .loginAction{font-size:80%;}
                    #facebook{
                        background-image:url("images/facebook_login.png");
                        width:65px;
                        float:right;
                        height:25px;
                    }
                    #bookdetail {
                        border: 1px solid #6B7B95;
                        background-color:#F9F9F9;
                        z-index:10;
                        position:absolute;
                    }
                    .bookmeta{
                        position:absolute;
                        width:30%;
                    }
                    .selected{
                        background-color: #F9F9F9;
                    }