 .comment{
                        float:center;
                        color:blue;
                    }
                    #footer{
                        position: fixed;
                        width:70%;
                        right:20%;
                        height:30px;
                        bottom: 30px;
                        left:0;
                        z-index:100;
                    }
                    #socialController{
                        position:absolute;
                        top:20%;
                        height:80%;
                        z-index:50;
                        background-color:white;
                    }
                    #allAnnots{
                        width:100px;
                    }
                    #social{
                        z-index:50;
                        width:5px;
                        background-color:grey;
                        height:100%;
                    }
                    #toolController{
                        position:absolute;
                        width:47%;
                        left:33%;
                    }
                    #mine {
                        margin: 0 50px 0 0;
                        width:100%;
                        padding: 0;
                        float: left;
                    }
                    
                    li {
                        display: block;
                        margin: 0;
                        padding: 4px;
                        width: 80%;
                        background-color: #333;
                        color: #888;
                    }
                    #commentController{
                        position:absolute;
                        width:20%;
                        right:20px;
                        z-index:50;
                        bottom:0;
                        background-color:white;
                    }
                    #arrow{
                        float:right;
                    }
                    .annotLayer {
                        position: absolute;
                        left: 0;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        color: #000;
                        z-index:1;
                    }
