.toolbar {
                        position: absolute;
                        color:white;
                        left: 0;
                        right: 0;
                        height: 32px;
                        z-index: 9999;
                        cursor: default;
                        background-image: url(images/texture.png),
                        -webkit-linear-gradient(hsla(0,0%,32%,.99), hsla(0,0%,27%,.95));
                        background-image: url(images/texture.png),
                        -moz-linear-gradient(hsla(0,0%,32%,.99), hsla(0,0%,27%,.95));
                        background-image: url(images/texture.png),
                        -ms-linear-gradient(hsla(0,0%,32%,.99), hsla(0,0%,27%,.95));
                        background-image: url(images/texture.png),
                        -o-linear-gradient(hsla(0,0%,32%,.99), hsla(0,0%,27%,.95));
                        background-image: url(images/texture.png),
                        linear-gradient(hsla(0,0%,32%,.99), hsla(0,0%,27%,.95));
                        border-left: 1px solid hsla(0,0%,0%,.5);
                        box-shadow: inset 1px 0 0 hsla(0,0%,100%,.08),
                        inset 0 1px 1px hsla(0,0%,0%,.15),
                        inset 0 -1px 0 hsla(0,0%,100%,.05),
                        0 1px 0 hsla(0,0%,0%,.15),
                        0 1px 1px hsla(0,0%,0%,.1);
                    }
                    #toolbarRight {
                        position: absolute;
                        top: 0;
                        right: 0;
                    }
                    #toolbarLeft {
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                    #login{
                        width:50px;
                    }
                    #toolbarCenter {
                        position: absolute;
                        top: 0;
                        left: 50%;
                    }
                    body {
                        height: 100%;
                        background-color: #404040;
                        background-image: url(images/texture.png);
                    }
                    #viewerContainer {
                        overflow: auto;
                        box-shadow: inset 1px 0 0 hsla(0,0%,100%,.05);
                        padding-top: 30px;
                        position: absolute;
                        top: 32px;
                        right: 0;
                        bottom: 0;
                        left: 0;
                    }